@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins&display=swap');
body, html, #root {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
  
  .student-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F1F1F1;
  }
  
  .main-layout {
    display: flex;
    flex-grow: 1;
    margin-top: 70px; /* height of the header */
  }
  
  .sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    bottom: 0;
    width: 260px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1.8rem;
    margin-left: 1rem;
  }
  
  .logo {
    background-image: url('/assets/eielogo.png');
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .title {
    font-family: 'Krona One', sans-serif;
    color: #383838;
    margin-left: 0.5rem;
    font-size: 1.75rem;
    font-weight: 400;
  }
  
  .logout-nav-list {
    list-style-type: none;
    margin-top: 5rem;
    padding: 0;
  }
  
  .nav-list {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
  }
  
  .nav-item {
    margin: 1rem;
    height: 4rem;
    background-color: #FCF7F8;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    font-size: 1rem;
  }

  .nav-item-active{
    font-family: 'Poppins', sans-serif;
    background-color: #9ecef366;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
  }
  
  .nav-link {
    font-family: 'Poppins', sans-serif;
    color: #343a40;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-link:hover {
    color: #0056b3;
  }
  
  .nav-item.active .nav-link {
    color: #0056b3;
    font-weight: bold;
  }
  
  .icon {
    margin-right: 0.5rem;
  }
  
  .content {
    flex-grow: 1;
    margin-left: 300px; 
    padding: 1rem;
    background-color: #F1F1F1;
    overflow-y: auto;
    height: calc(100vh - 70px); /* full height minus header */
  }
  
  .dashb-students-container {
    padding: 20px;
  }
  
  .college-title {
    font-size: 24px;
    font-weight: bold;
    color: #1a73e8;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .dashb-studs-label {
    font-size: 16px;
    font-weight: 500;
    color: #383838;
    margin: 0;
  }

  .subjects-cont {
    display: flex;
    gap: 40px; 
    flex-wrap: wrap; 
}

.subjects-cont a{
  text-decoration: none;
}

.subject-box {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    width: 200px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.subject-header {
    background-color: #cce7ff; 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subject-header h2 {
    font-size: 18px;
    margin: 0;
    color: #383838; 
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.subject-header span {
    font-size: 12px;
    color: #464444; 
    font-family: 'Poppins', sans-serif;
}

.subject-body {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.subject-body p {
    margin: 0;
    color: #555; 
    font-family: 'Poppins', sans-serif ;
}

.assignments-container {
  padding: 20px;
}
.assignments-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
} 



.assignments-container h1 {
  font-size: 24px;
  font-weight: bold;
  color: #1a73e8;
  margin-bottom: 20px;
}

.assignment-box {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.assignment-box p {
  margin: 0;
  color: #555;
  font-family: 'Poppins', sans-serif;
}

.status {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.status.missing {
  background-color: #ffcccc;
  color: #ff0000;
}

.status.assigned {
  background-color: #ccffcc;
  color: #00ff00;
}

.status.done {
  background-color: #cccccc;
  color: #000000;
}

.filter-dropdown {
    margin-bottom: 20px;
    margin-left: auto;
}

.filter-dropdown select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

/* Add the necessary styles for the TaskDetails component */
.task-details-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

.task-details-left {
  flex: 2;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-title {
  font-size: 24px;
  font-weight: bold;
  color: #1a73e8;
  margin-bottom: 10px;
}

.task-date {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.status {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  margin-left: 10px;
}

.status.missing {
  background-color: #ffcccc;
  color: #ff0000;
}

.status.assigned {
  background-color: #ccffcc;
  color: #00ff00;
}

.status.done {
  background-color: #cccccc;
  color: #000000;
}

.task-description {
  margin-bottom: 20px;
  color: #555;
}

.task-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.back-button {
  padding: 10px 15px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  color: #fff;
  background-color: #1a73e8;
  flex-shrink: 0; 
}

.link-form {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1; 
}

.link-form input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.add-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  background-color: #1a73e8;
}

.task-details-right {
  flex: 1;
  background-color: #f1f1f1;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-details-right h3 {
  margin: 0;
  font-size: 18px;
  color: #555;
}
 
.task-details-right h4{
  margin: 0;
  font-size:  25px;
  color: #555;
}
.feedback-textarea {
  width: 100%;
  height: 100px;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  resize: none; 
}
